@import "material-you";
@import "fonts/font-material-symbols";

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

::-webkit-scrollbar {
    background: #23005c;
    background: #{var(--md-sys-color-background)};
}
::-webkit-scrollbar-thumb {
    border-radius: 32px;
    background-color: #e9ddff;
    background-color: #{var(--md-sys-color-inverse-surface)};
}
::selection {
    background: #23005c;
    color: #e9ddff;
    background: #{var(--md-sys-color-inverse-on-surface-dark)};
    color: #{var(--md-sys-color-inverse-surface-dark)};
}

body {
	font-family: "Poppins", $system-fallback-fonts;
	margin: 0;
	min-height: 100vh;
	background-color: #{var(--md-sys-color-background)};
}

.material-symbols-rounded {
	@include material-symbols-rounded;
	user-select: none;
}

.light-theme, .dark-theme {
	@include theme-transition();
}

.has-cover.gh-head-open .gh-head {
	@include material-container--tertiary;
}

.site-header-content {
	@include material-container--primary;
    border-radius: 0rem 0rem 32px 32px;
    overflow: hidden;
	clip-path: inset(0 round 0rem 0rem 32px 32px);
}

.home-template.has-cover .gh-head {
	color: #{var(--md-sys-color-on-primary-container)};
}

.has-cover .gh-head-button, .footer-cta-button span {
	@include material-button--filled-secondary;
	font-weight: normal;
}

.footer-cta-button span {
	height: 44px;
}

.site-header-cover {
    -webkit-mask: linear-gradient(to right,transparent 45%,#000);
    mask: linear-gradient(to right,transparent 45%,#000);
	position: fixed;
	opacity: 40%;
	z-index: -1;
}

.gh-search, .gh-burger {
    color: inherit;
}

.has-cover:not(.home-template) .gh-head {
	@include material-container--primary;
}

.site-footer {
	@include material-container--primary;
	border-radius: $container-border-radius $container-border-radius 0 0;
	display: flex;
	flex-direction: column;
	margin: max(18vmin,64px) 0 0;
	padding-bottom: 4rem;

	&__scroll-header {
		margin-top: -11rem;
        margin-bottom: 4rem;
        justify-content: center;
        display: flex;
	}

	&__scroll-to-top-container {
		@include theme-transition;
		@include material-colored--primary;
		@include material-mask--zany-square;
		width: 12rem;
		height: 12rem;
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;

		&:hover {
			@include material-inverted--primary;
		}
	}

	&__scroll-icon {
		font-size: 4rem;
	}

	&__links {
		display: flex;
		grid-gap: 16px;
		margin-bottom: 4rem;
		align-self: center;
	}

	&__link {
		@include material-basic--primary;

		padding: 10px;
		width: 48px;
		height: 48px;
		border-radius: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 0;

		&:hover {
			@include material-inverted--primary;
		}
	}
}

.site-footer .inner > * a,
.site-footer-nav a {
	color: var(--md-sys-color-on-primary-container);
}

.site-footer .copyright a {
	@include material-inverted--primary;
	border-radius: 16px;
	padding: 8px;
	display: inline-flex;
	align-items: center;
	font-weight: bold;
    letter-spacing: normal;
}

.site-footer .inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-gap: 0;
    gap: 20px;
	font-size: 1.5rem;

	& > * {
		text-align: center;
	}
}

.site-footer-nav a {
	margin-left: 0;
}

.site-footer-nav ul {
	margin-bottom: 0rem;
}

.post-card {
	@include material-container--tertiary;
    border-radius: 32px;
    overflow: hidden;
}

.post-card.dynamic {
	@include material-container--primary;
}

.post-card-large, .post-card-large .post-card-content-link {
	@include material-container--secondary;
}

.post-card-large .post-card-meta-date, .post-card-large .post-card-meta-length {
	@include material-basic--secondary;
}

.post-card-meta, .post-card-meta>* {
    flex-wrap: wrap;
}

.post-card-content {
	padding: $container-padding;
}

.post-card-large > .post-card-content {
	padding-left: 0;

	@media (max-width: 991px) {
		padding-left: 24px;
	}

	&--author {
		padding: $container-padding;
	}
}

.post-card-content-link {
	@include material-container--tertiary;
}

.post-card.dynamic >* .post-card-content-link  {
	@include material-container--primary;
}

.post-card-primary-tag {
	@include material-button--filled-primary;
}

.post-card-image {
    border-radius: 32px;
    overflow: hidden;
}

.post-card-image-link {
	margin-bottom: 0px;
}

.post-card-excerpt {
	margin-bottom: 2rem;
}

.post-card-meta {
	margin-top: auto;
}

.post-card-meta-date, .post-card-meta-length {
	@include material-button--basic-secondary;
    min-width: max-content;
    flex-flow: row;
	&__icon {
		font-size: 1.5rem;
		margin-right: 0rem;
	}
}

.post-card-meta>*+:not(script):before {
	display: none;
}

.gh-content > blockquote:not([class]), .gh-content > dl, .gh-content > ol, .gh-content > p, .gh-content > ul {
	@include material-container--secondary;
	padding: 0% $container-padding;
	padding-top: max(3.2vmin,24px);
	margin-top: 0px !important;
}

.gh-content > p {
	&:first-of-type {
		border-radius: $container-border-radius $container-border-radius 0px 0px;
	}

	&:last-of-type {
		border-radius: 0px 0px $container-border-radius $container-border-radius;
	}
}

.article-title, .footer-cta-title, .article-excerpt {
	color: #{var(--md-sys-color-on-background)};
}

.article-tag a {
	color: #{var(--md-sys-color-on-primary)};
}

.article-byline {
	@include material-colored--primary;
	border-radius: $container-border-radius;
	padding: 1.5rem;
}

.byline-meta-content {
	display: inline-flex;
	gap: 1rem;
}

.byline-meta-date,
.byline-reading-time {
	@include material-button--basic-primary;
}

.author-name a {
	color: #{var(--md-sys-color-on-primary)};
}

.footer-cta-button {
	@include material-container--secondary;
	border: none;
	border-radius: $container-border-radius;
    padding: 1rem 2rem;
}

.gh-canvas .article-image, .kg-card {
	@include material-colored--tertiary;
	border-radius: $container-border-radius;
	overflow: hidden;

	figcaption, figcaption > * {
		color: #{var(--md-sys-color-on-tertiary)};
	}
}

figcaption {
	padding: 1.5rem;
}

.gh-content :not(.kg-card):not([id])+.kg-card {
    margin-top: 6vmin;
    margin-bottom: 6vmin;
}

.gh-content .kg-card+:not(.kg-card) {
	border-radius: $container-border-radius $container-border-radius 0 0;
}

p:has(+.kg-card), p:has(+[id]), p:has(+hr) {
	border-radius: 0 0 $container-border-radius $container-border-radius;
}

.gh-content>[id]+* {
	margin-top: 0 !important;
}

.author-avatar, .author-profile-pic-container {
	padding: 0.65rem;
}

.author-avatar, .author-profile-image, .author-profile-pic, .author-profile-pic-container {
	@include material-mask--jagged-circle;
	width: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-self: center;
	margin-left: 1.5rem;
	background-color: #{var(--md-sys-color-secondary-container)};
	border-radius: initial;
    overflow: initial;
    border: initial;
    height: initial;
    margin: initial;
}

.author-profile-pic-container {
	background-color: #{var(--md-sys-color-secondary)};
}

.gh-content>[id] {
	@include material-colored--secondary;
	padding: 2rem 24px;
	border-radius: $container-border-radius $container-border-radius 0 0;
}

.author-profile-social-link {
	@include material-button--tonal-tertiary-inverted;
}

.author-profile-location {
	display: flex;
    gap: 0.5rem;
    padding: 1rem 0rem;
}

.gh-announcement-bar,
.gh-announcement-bar button {
	@include theme-transition();
	color: #{var(--md-sys-color-on-primary)} !important;
	background-color: #{var(--md-sys-color-primary)} !important;
}

.gh-head-open.has-cover #gh-head {
	@media (max-width: 767px) {
		overflow-y: hidden;
	}
}

.gh-head-open.has-cover #gh-head, .gh-head-open.has-cover #gh-head .gh-head-actions {
	@include material-container--primary;
}

.gh-head-menu .nav {
    flex-flow: row;
}

.gh-head-menu .nav a,
.gh-head-link,
.gh-head-actions .gh-search,
#gh-head .gh-head-brand .gh-search {
	color: #{var(--md-sys-color-on-primary-container)};
}

.has-cover .gh-burger:after, .has-cover .gh-burger:before {
	background-color: #{var(--md-sys-color-on-primary-container)};
}

.kg-card.kg-header-card.kg-style-light {
	@include material-colored--tertiary;
}

.kg-header-card.kg-style-light h2.kg-header-card-header {
	color: #{var(--md-sys-color-on-tertiary)};
}

.kg-card.kg-header-card.kg-style-dark {
	@include material-inverted--tertiary;
}

.kg-header-card.kg-style-dark a.kg-header-card-button {
	background: initial;
	color: initial;
}

.kg-header-card.kg-style-dark a.kg-header-card-button, .kg-header-card.kg-style-image a.kg-header-card-button, .kg-header-card.kg-style-light a.kg-header-card-button, .kg-header-card.kg-style-image a.kg-header-card-button {
	@include material-button;
	color: #{var(--md-sys-color-tertiary)} !important;
	background-color: #{var(--md-sys-color-on-tertiary)} !important;
	background: initial;
    color: initial;
}

.gh-content>blockquote:not([class]):before {
	background-color: #{var(--md-sys-color-tertiary)};
}
