@import "global";
@import "material-you--primary-styles";
@import "material-you--secondary-styles";
@import "material-you--tertiary-styles";

@mixin material-outline {
    border: #{var(--md-sys-color-outline)} solid 3px;
}

@mixin material-container {
	@include theme-transition();
	padding: $container-padding;
	border-radius: $container-border-radius;
	
}

@mixin material-button {
	@include theme-transition();
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	padding: $button-padding;
	border-radius: $button-border-radius;
	text-decoration: none;
	line-height: $button-line-height;
	
	& > .material-symbols-rounded {
		margin-right: $icon-margin-right;
	}
}

@mixin material-button--filled-primary {
	@include material-colored--primary;
	@include material-button;

	&:hover {
		@include material-inverted--primary;
	}
}
@mixin material-button--tonal-primary {
	@include material-container--primary;
	@include material-button;

	&:hover {
		@include material-inverted--primary;
	}
}
@mixin material-button--tonal-primary-inverted {
	@include material-inverted--primary;
	@include material-button;

	&:hover {
		@include material-basic--primary;
	}
}
@mixin material-button--outlined-primary {
	@include material-container--primary;
	@include material-button;
	@include material-outline;
}
@mixin material-button--basic-primary {
	@include material-basic--primary;
	@include material-button;

	&:hover {
		@include material-inverted--primary;
	}
}

@mixin material-button--filled-secondary {
	@include material-colored--secondary;
	@include material-button;

	&:hover {
		@include material-inverted--secondary;
	}
}
@mixin material-button--tonal-secondary {
	@include material-container--secondary;
	@include material-button;

	&:hover {
		@include material-inverted--secondary;
	}
}
@mixin material-button--tonal-secondary-inverted {
	@include material-inverted--secondary;
	@include material-button;

	&:hover {
		@include material-basic--secondary;
	}
}
@mixin material-button--outlined-secondary {
	@include material-container--secondary;
	@include material-button;
	@include material-outline;
}
@mixin material-button--basic-secondary {
	@include material-basic--secondary;
	@include material-button;

	&:hover {
		@include material-inverted--secondary;
	}
}

@mixin material-button--filled-tertiary {
	@include material-colored--tertiary;
	@include material-button;

	&:hover {
		@include material-inverted--tertiary;
	}
}
@mixin material-button--tonal-tertiary {
	@include material-container--tertiary;
	@include material-button;

	&:hover {
		@include material-inverted--tertiary;
	}
}
@mixin material-button--tonal-tertiary-inverted {
	@include material-inverted--tertiary;
	@include material-button;

	&:hover {
		@include material-basic--tertiary;
	}
}
@mixin material-button--outlined-tertiary {
	@include material-container--tertiary;
	@include material-button;
	@include material-outline;
}
@mixin material-button--basic-tertiary {
	@include material-basic--tertiary;
	@include material-button;

	&:hover {
		@include material-inverted--tertiary;
	}
}

@mixin material-mask--jagged-circle {
	-webkit-mask-image: url(svg/m3-jagged-circle.svg);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
    -webkit-mask-position: center;
	mask-image: url(svg/m3-jagged-circle.svg);
	mask-repeat: no-repeat;
	mask-size: contain;
    mask-position: center;
}
@mixin material-mask--octagonal-circle {
	-webkit-mask-image: url(svg/m3-octagonal-circle.svg);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
    -webkit-mask-position: center;
	mask-image: url(svg/m3-octagonal-circle.svg);
	mask-repeat: no-repeat;
	mask-size: contain;
    mask-position: center;
}
@mixin material-mask--zany-square {
	-webkit-mask-image: url(svg/m3-zany-square.svg);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
    -webkit-mask-position: center;
	mask-image: url(svg/m3-zany-square.svg);
	mask-repeat: no-repeat;
	mask-size: contain;
    mask-position: center;
}
