.gh-content>p {
	&:only-of-type {
		border-radius: $container-border-radius;
	}

	&:first-of-type {
		border-radius: $container-border-radius $container-border-radius 0px 0px;
	}

	&:last-of-type {
		// By default, round all corners for the last <p>
		border-radius: $container-border-radius;
	}

	&+p:last-of-type {
		border-radius: 0 0 $container-border-radius $container-border-radius;
	}

	&:only-of-type {
		border-radius: $container-border-radius;
	}

	&:first-of-type:has(+ h1, + h2, + h3, + h4, + h5, + h6) {
		border-radius: $container-border-radius;
	}
}

.gh-content {
	figure+p:has(+ figure) {
		border-radius: $container-border-radius;
	}
}

.gh-content.gh-canvas>blockquote:first-child {
	border-radius: $container-border-radius;
}